
<!DOCTYPE html>
// Este fichero se utiliza para importar todoslos link de css o de otras librerias
html(lang="es")
head

  meta(charset="UTF-8")
  title CRUD NodeJS,MongoDB,Jade y Express
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
  
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

  script(src="https://code.jquery.com/jquery-3.1.1.min.js")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
body
  div(class="container")
    block contenido
    div(class="row center")
      footer(class="green")
        &copy; Junior Miguel Castillo